.navbar-custom {
    background-color: rgba(0, 0, 0, 0.5);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item {
  padding-inline-start: 4em;
  padding-inline-end: 4em;
}

#navbar-home {
  float: right;
}